[dir="rtl"] {
    @import "~bootstrap-v4-rtl/scss/bootstrap";
}

[dir="ltr"] {
    @import "~bootstrap/scss/bootstrap";
}
.hold-body {
    opacity: 0.3;
    pointer-events: none;
}
.svg-img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

body {
    margin: 0;

}
@import "home";
@import "input";
@import "loading";
@import "product-item";
@import "singleItem";
@import "paggination";
@import "cart";
@import "profile";
@import "footer";
@import "updateProfile";
@import "mixins";
@import "common";
@import "order";